.loading-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(38, 64, 93, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.loading-modal-content{
    width: 35%;
    height: 35%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 16px;
    color: #9695A1;
    margin-bottom: 35px;
}


.loading-spinner img {
    width: 45px;
    height: 45px;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

