.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(38, 64, 93, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content{
    width: 35%;
    height: 35%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p1{
    font-size: 16px;
    color: #9695A1;
    margin-bottom: 2vh;
}
.p2{
    font-size: 13px;
    color: #FF407D;
    margin-top: 5px;
    margin-bottom: 4vh ;
}
.record-loading-icon{
    height: 60px;
    display: flex;
    align-items: center;
}
.record-loading-icon .stroke{
    display: block;
    position: relative;
    background-color: #FF407D;
    height: 100%;
    width: 8px;
    border-radius: 50px;
    margin: 0 3px;
    animation: shrink 1s linear infinite;
}
@keyframes shrink {
    50% {
        height: 20%;
    }
    100%{
        height: 100%;
    }
}
.stroke:nth-child(1){
    animation-delay: 0s;
}
.stroke:nth-child(2){
    animation-delay: 0.2s;
}

.stroke:nth-child(3){
    animation-delay: 0.4s;
}
.stroke:nth-child(4){
    animation-delay: 0.2s;
}
.stroke:nth-child(5){
    animation-delay: 0s;
}
.save-record-button{
    border: 1px solid #000;
    border-radius: 50%;
    background-color: rgba(255, 202, 212, 0.5);
    padding: 10px 15px;
    cursor: pointer;
}
.save-record-button img{
    width: 12px;
    height: 12px;
}

@media screen and (max-width: 992px) {
    .modal-content {
        width: 50%;
        height: 40%;
    }
}
@media screen and (max-width: 576px) {
    .modal-content {
        width: 75%;
        height: 35%;
    }
}
