# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/stt_diary/node_modules
/frontend/stt_diary/.pnp
/frontend/stt_diary/.pnp.js

# testing
/frontend/stt_diary/coverage

# production
/frontend/stt_diary/build

# misc
/frontend/stt_diary/.DS_Store
/frontend/stt_diary/.env.local
/frontend/stt_diary/.env.development.local
/frontend/stt_diary/.env.test.local
/frontend/stt_diary/.env.production.local

/frontend/stt_diary/npm-debug.log*
/frontend/stt_diary/yarn-debug.log*
/frontend/stt_diary/yarn-error.log*

# env
/frontend/stt_diary/.env