
.sentiment-result-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.sentiment-result-inner{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 35%;
    height: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}
.positive{
    background-image: url('../assets/positive-background.png');
}
.negative{
    background-image: url('../assets/negative-background.png');
}
.neutral{
    background-image: url('../assets/neutral-background.png');
}
.result-title{
    position: absolute;
    bottom: 46%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 8px 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    z-index: 10;
}
.result-content{
    height: 55%;
    background-color: #fff;
    margin-top: auto;
    border-radius: 40px;
    padding: 20px 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.result-content-inner{
    flex: 1;
    width: 100%;
    overflow-y: auto;
    padding: 30px 20px;
    text-align: left;
    color: #000;
    line-height: 1.7;
    font-size: 14px;
}
.result-content-inner::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}
.result-content-inner::-webkit-scrollbar {
    width: 6px;
}
.result-content-inner::-webkit-scrollbar-thumb {
    background: #c4c1c1;
    border-radius: 5px;
}
.result-content .consulting-btn{
    border: none;
    padding: 10px 30px;
    color: #fff;
    background-color: #4E66E6;
    border-radius: 20px;
    font-size: 16px;
    width: 140px;
    cursor: pointer;
}
.result-title {
    font-size: 18px;
}
.title-positive,
.title-negative,
.title-neutral{
    font-size: 25px;
    font-weight: bold;
    background-clip: text;
    color: transparent;
    margin-left: 10px;
}
.title-positive{
    background-image: linear-gradient(to top, #D2DFFF 0%, #FF407D 100%);
}
.title-negative {
    background-image: linear-gradient(to top, #75CF7E 0%, #303DB1 100%);
}
.title-neutral{
    background-image: linear-gradient(to top, #D1D524 0%, #15C13B 100%);
}

@media screen and (max-width: 1200px) {
    .sentiment-result-inner{
        width: 50%;
        height: 70%;
    }
}
@media screen and (max-width: 992px) {
    .sentiment-result-inner{
        width: 60%;
        height: 70%;
    }
    .result-content{
        padding: 50px 40px;
    }
    .result-title{
        padding: 8px 20px;
    }

}
@media screen and (max-width: 768px) {
    .sentiment-result-inner{
        width: 70%;
        height: 70%;
    }
    .result-content{
        padding: 50px 30px;
    }
    .result-title{
        padding: 8px 20px;
        width: 55%;
    }
    
}
@media screen and (max-width: 576px) {
    .sentiment-result-inner{
        width: 93%;
        height: 80%;
    }
    .result-content{
        padding: 50px 25px;
    }
    .result-title{
        padding: 8px 0;
        width: 70%;
    }
}
@media screen and (max-width: 390px) {
    .sentiment-result-inner{
        width: 100%;
        height: 70%;
    }
    .result-content{
        padding: 50px 25px;
    }
    .result-title{
        padding: 8px 0;
        width: 80%;
    }
}